/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mtheory-card {
	border: 1px solid #ddd;
	.card-image-button-container {
		background-color: #efefef;
		text-align: center;
		padding: 6em 1em;
	}
	.author-button-container {
		margin-right: .5em;
	}
}
