/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mtheory-card {
	background-color: #fff;
	border-radius: .5em;
	overflow: hidden;
	box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%);
	display: block;
	text-decoration: none;
	.card-media {
		overflow: hidden;
		display: inline-block;
	}
	.image {
		margin-bottom: 0 !important;
		vertical-align: middle;
		transition: all 1.5s ease;
	}
	&:hover {
		.image {
			transform: scale(1.07,1.07);
		}
	}

	.card-content {
		padding: 1em;
		.title {
			line-height: 1.1;
			font-size: 6vw;
			font-weight: bold;
			margin-top: 0;
			margin-bottom: .3em;
			&.h2 {
				@media screen and (min-width: 602px) {
					font-size: 6vw;
				}
				@media screen and (min-width: 768px) {
					font-size: #{.06 * 768} + px;
				}
			}
			&.h3 {

				@media screen and (min-width: 602px) {
					font-size: 5vw;
				}
				@media screen and (min-width: 768px) {
					font-size: #{.05 * 768} + px;
				}
			}
			&.h4 {

				@media screen and (min-width: 602px) {
					font-size: 4vw;
				}
				@media screen and (min-width: 768px) {
					font-size: #{.04 * 768} + px;
				}
			}
			&.h5 {

				@media screen and (min-width: 602px) {
					font-size: 3vw;
				}
				@media screen and (min-width: 768px) {
					font-size: #{.03 * 768} + px;
				}
			}
			&.h6 {
				font-size: #{.02 * 602} + px;
				@media screen and (min-width: 602px) {
					font-size: 2vw;
				}
				@media screen and (min-width: 768px) {
					font-size: #{.02 * 768} + px;
				}
			}
		}
		.excerpt {
			font-size: .8em;
			line-height: 1.3;
			@media screen and (min-width: 481px) {
				font-size: .9em;
			}
			@media screen and (min-width: 768px) {
				font-size: 1em;
				line-height: 1.5;
			}
		}
	}
	.card-footer {
		display: flex;
		align-items: center;
		padding: 0 1em 1em;
		justify-content: space-between;
		flex-wrap: wrap;
		.card-button {
			margin-left: auto;
			font-size: .7em;
			transition: all .2s ease;
			@media screen and (min-width: 481px) {
				font-size: .8em;
			}
			@media screen and (min-width: 768px) {
				font-size: 1em;
			}
			white-space: nowrap;
	    font-family: Jost,sans-serif;
	    border: 1px solid #0a0a0a;
	    line-height: 1;
	    border-radius: 1.5em;
	    padding: .5em 1em;
	    text-transform: uppercase;
	    font-weight: 700;
			background-color: transparent !important;
			position: relative;
			transition: all .2s ease;
			overflow: hidden;
			color: #0a0a0a !important;
		}
	}

	.card-meta {
		display: inline-flex;
		align-items: center;
		line-height: 1;
		overflow: hidden;
		margin-right: 1em;
		.author {
			font-size: .6em;
			line-height: 1.1;
			font-weight: bold;
			@media screen and (min-width: 481px) {
				font-size: .7em;
			}
			@media screen and (min-width: 768px) {
				font-size: .8em;
			}
			white-space: nowrap;
			text-overflow: ellipsis;
		  overflow: hidden;
		}
		.author-image {
			transition: all .2s ease;
			width: 2em;
			height: 2em;
			margin-bottom: 0 !important;
			@media screen and (min-width: 481px) {
				width: 2.2em;
				height: 2.2em;
			}
			@media screen and (min-width: 768px) {
				width: 2.5em;
				height: 2.5em;
			}
			border-radius: 50%;
			margin-right: .5em;
		}
	}
}

.wp-block-columns {
	&:not(.alignwide,.alignfull) {
		.wp-block-mtheory-card {
			.card-content {
				.excerpt {
					@media screen and (min-width: 602px) {
						font-size: .7em;
					}
					@media screen and (min-width: 768px) {
						font-size: .8em;
						line-height: 1.5;
					}
				}
			}
		}
	}
	.wp-block-mtheory-card {
		.card-footer {
			.card-meta {
				.author-image {
					@media screen and (min-width: 602px) {
						display: none;
					}
					@media screen and (min-width: 768px) {
						display: block;
					}
				}
			}
		}
	}
}
